@import "tailwindcss";

:root {
    --background: #020617;
    --foreground: #f9fafb;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #020617;
        --foreground: #f9fafb;
    }
}

body {
    background: radial-gradient(circle at top, #111827, #020617);
    color: var(--foreground);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    letter-spacing: 0.01em;
}

/* Scrollbar (WebKit: Chrome, Edge, Safari) */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-track {
    background: #0f172a;
}
*::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 8px;
    border: 2px solid #0f172a;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.9) brightness(1.2);
    opacity: 0.9;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #475569 #0f172a;
}
/* Oculta o indicador de dev do Next.js */
#__next-build-watcher {
  display: none !important;
}
