services:
    web:
        build:
            context: ./backend
        container_name: kanban_app_backend
        user: root
        command: >
            sh -c "python manage.py migrate &&
                   gunicorn -c gunicorn.conf.py app.wsgi:application"
        volumes:
            - ./backend:/app
        ports:
            - "8022:8000"
        env_file:
            - ./backend/.env
        depends_on:
            db:
                condition: service_healthy
        restart: unless-stopped

    frontend:
      build:
        context: ./frontend
        target: deps
      container_name: kanban_app_frontend
      command: npm run dev
      ports:
        - "3022:3000"
      volumes:
        - ./frontend:/app
        - /app/node_modules
        - /app/.next
      env_file:
        - ./frontend/.env
      stdin_open: true
      tty: true
      healthcheck:
        test: ["CMD-SHELL", "wget -qO- http://localhost:3000/ || exit 1"]
        interval: 30s
        timeout: 10s
        retries: 3
      restart: unless-stopped

    db:
        image: postgres:15
        container_name: kanban_app_postgres
        env_file:
            - ./backend/.env
            - ./.env
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            TZ: America/Sao_Paulo
            PGTZ: America/Sao_Paulo
        ports:
            - "127.0.0.1:5442:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
            interval: 5s
            timeout: 5s
            retries: 20
        restart: unless-stopped

volumes:
    pgdata:
